{
  tabWidth: 2,
  semi: true,
  bracketSpacing: true,
  printWidth: 120,
  "overrides": [
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "singleQuote": true,
                "trailingComma": "all"
            }
        }
    ]
}
