.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.cart-item-qty {
  margin: 0;
}

input {
  width: 35px;
  text-align: center;
}